<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores asperiores illum unde incidunt aspernatur debitis mollitia veritatis dicta harum ad fugit sequi culpa suscipit voluptas cum, repudiandae enim dolorum ea necessitatibus. Quisquam nam nisi natus alias doloribus dolore debitis! Aut.</p>
    </div>
</div>
