<div class="container">
    <div class="p-4 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-4 fw-bold">Notes app NodeJs and MongoDb</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut dolor consectetur nisi repellat maiores, eveniet harum, voluptates tempora nemo placeat laudantium minus perspiciatis, obcaecati assumenda nesciunt eos iusto magni. Expedita, qui quod!</p>
            <a href="http://faztweb.com" class="btn btn-primary btn-lg">FaztWeb</a>
        </div>
    </div>
</div>
