<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div clas="card-body">
                <form action="">
                    <div class="mb-3">
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="password" class="form-control" placeholder="Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
